@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

.TodoText {
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0.3em;
}

.TodoContainer {
    position: absolute;
    width: 550px;
    top: 100px;
    left: 50%;
    transform: translate(-50%);
}

.TodoToggle {
    width: 30px;
    height: 30px;
}

.TodoHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.BackgroundImage {
    position: absolute;
    height: 300px;
    width: 100%;
}

.BackgroundImageLight {
    background: url("../images/bg-desktop-light.jpg") no-repeat;
    background-size: cover;
}

.BackgroundImageDark {
    background: url("../images/bg-desktop-dark.jpg") no-repeat;
    background-size: cover;
}

.BgLight {
    background: url("../images/bg-desktop-light.jpg");
}

.CheckSpanDark {
    border-radius: 10px 0 0 10px;
    height: 60px;
    width: 60px;
    background-color: #25273C;
    align-items: center;
}

.CheckSpanLight {
    border-radius: 10px 0 0 10px;
    height: 60px;
    width: 60px;
    background-color: #ffffff;
    align-items: center;
}

.CheckDark {
    background-color: #25273C!important;
    height: 30px;
    width: 30px;
    margin: 15px !important;
    border: 1px solid hsl(235, 19%, 35%)!important;
    border-radius: 30px !important;
}

.CheckLight {
    background-color: #ffffff!important;
    height: 30px;
    width: 30px;
    margin: 15px !important;
    border: 1px solid hsl(235, 19%, 35%)!important;
    border-radius: 30px !important;
}

.InputDark {
    height: 60px !important;
    padding: 0 8px !important;
    background-color: #25273C !important;
    border: none !important;
    color: hsl(0, 0%, 98%) !important;
    font-size: 32px !important;
    width: 490px;
}

.InputDark:focus,
.InputDark:active {
    outline: none !important;
    box-shadow: none !important;
}


.InputLight {
    height: 60px !important;
    padding: 0 8px !important;
    background-color: #ffffff !important;
    border: none !important;
    color: hsl(235, 19%, 35%) !important;
    font-size: 32px !important;
    width: 490px;

}

.InputLight:focus,
.InputLight:active {
    outline: none !important;
    box-shadow: none !important;
}

.ItemsLeftText {
    color: #52546D;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;

}

.FooterTextDark {
    cursor: grab;
    color: #52546D;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0 5px;
}

.FooterTextLight {
    cursor: grab;
    color: #9B99A4;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0 5px;
}

.FooterTextDark:hover {
    color: hsl(236, 33%, 92%);
}
.FooterTextLight:hover {
    color: hsl(235, 19%, 35%);
}

.FooterTextCurrent {
    color: #5381D7 !important;
}

.FooterDesktop {

}

.FooterMobile {
    display: none;
    margin-top: 25px !important;
}

@media (max-width: 450px) {
    .BackgroundImage {
        height: 200px;
    }
    .TodoContainer {
        width: 350px;
    }
    .InputDark, .InputLight {
        width: 290px;
    }
    .FooterDesktop {
        display: none !important;
    }
    .FooterMobile {
        display: flex;
    }
}